[user]
	name = Ian McMurray
	email = ianf.mcmurray@gmail.com
[alias]
	tree = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	autoSetupRemote = True
